<div class="card" style="max-width: 100%; height: auto;">
    <div class="card-header">
        Profile
    </div>
    <img class="card-img-top" src="https://scontent.fbkk4-1.fna.fbcdn.net/v/t1.0-9/p960x960/66413991_1341985535955115_6285013330012667904_o.jpg?_nc_cat=105&_nc_sid=85a577&_nc_eui2=AeFH0otZs-ISmsdJ7-wm9xVcZoMgeT0TEyXdUt_GXU2dsddaSkTtOIFCDNDAi3tx89hfPeDw3y4o_2iiQ3vXe4hpuUB7-J1VGwOAUZkAWrU9ww&_nc_oc=AQkhvW4qogknfdyZ8cgFg79kGg7YEDmwsZhlMJshnfhBvxZkL5VPRI46lF1_NaUZoCg&_nc_ht=scontent.fbkk4-1.fna&_nc_tp=6&oh=d5b33ccf3c06f65eed1a7886a56c9003&oe=5EA25784" 
        alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">{{getName()}}</h4>
        <p class="card-text">
            <li>StudentID: {{id}}</li>
            <li>Age: {{2020-year}}</li>
        </p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>